:root {
  --primary-color: #00c853;
  --dark-text: #1f2937;
  --light-text: #6b7280;
  --bg-light: #f8fafc;
  --border-radius: 10px;
  --font-family: 'Exo 2', sans-serif;
  --theme-color:#2D96BC;
  --light-border: #BCBCBC;
}
